<h1>This is Edit</h1>

<%= form_for @gonzo do |f| %>
	<p><%= f.label :title %>: <%= f.text_field :title %></p>
	<p><%= f.label :body %>: <%= f.text_area :body %></p>
	<p><%= f.submit "Save Gonzo changes" %></p>

<% end %>